@import "../Variables/Variables.scss";

.map_div {
    position: relative;
}

.selected_spot_div {
    position: absolute;
    bottom: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid $darkBlue;
    height: 90px;
    width: 100vw;
    cursor: pointer;
    z-index: 2;
}

.selected_spot_link {
    display: flex;
    width: 95vw;
    text-decoration: none;
    color: black;
    &:active {
        color: black;
    }
    &:visited {
        color: black
    }
}

.selected_spot_image_div {
    height: 90px;
    width: 100px;
    margin-right: 20px;
}

.selected_spot_image {
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 3px;
    height: 80px;
    width: auto;
}

.selected_spot_info_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.selected_spot_info_header {
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: 700;
    @include header (18px, black)
}

.selected_spot_info_about {
    display: flex;
    margin-top: 7px;
    margin-bottom: 0px;
    font-weight: 300;
}

.selected_spot_div_close {
    border: none;
    background-color: white;
    font-size: large;
    cursor: pointer;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}